@charset "utf-8";


#uphead{
    text-align: center;
    font-size: 90px;
}

#upbox{
    /*background-color:red;   */
    width: 90%;
    margin:auto;
    border: solid;
    background-color: rgba(255,255,255,0.5);
}
#uppform{
    position: relative;
    margin:auto;
    /*background-color: yellow;      */
    font-size: 50px;
}
table{
    border:solid;
    border-collapse:collapse;
    margin:auto;
}
td{
    border:solid;
}
th{
    border:solid;
    border-bottom:double;
    border-bottom-width:3px;
}
#tbl{
    overflow-y:scroll;
    height:600px;
}
.searchButton {
    color: gold;
    background: green;
    font-weight: bold;
    border: 1px solid darkgreen;
    width: 80px;
    height: 30px;
    margin: 10px -10px;
    vertical-align: bottom;
}

.searchButton:hover {
    color: green;
    background: gold;
    cursor: pointer;
}
.searchBox{
    size: 100px;
    height: 30px;
    min-width:20%;
    font-size: 20px;
    margin: 10px;
    vertical-align: bottom
}
.smallBox{
    width: 100%;
    min-width:50px;
}
.bigBox{
    width: 100%;
    min-width:90px;
}
.medBox{
    width: 100%;
    min-width:145px;
}