@charset "utf-8";


#uphead{
    text-align: center;
    font-size: 100px;
}

#upbox{
    /*background-color:red;   */
    width: 90%;
    margin:auto;
    border: solid;
    background-color: rgba(255,255,255,0.5);
}
#uppform{
    position: relative;
    margin:auto;
    /*background-color: yellow;      */
    font-size: 50px;
}
table{
    border:solid;
    border-collapse:collapse;
    margin:auto;
}
td{
    border:solid;
}
th{
    border:solid;
    border-bottom:double;
    border-bottom-width:3px;
}
#tbl{
    overflow-y:scroll;
    height:300px;
}
.updateAllButton {
    color: gold;
    background: green;
    font-weight: bold;
    border: 1px solid darkgreen;
    width: 150px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
}

.updateAllButton:hover {
    color: green;
    background: gold;
    cursor: pointer;
}
.smallBox{
    width: 100%;
    min-width:50px;
}
.bigBox{
    width: 100%;
    min-width:90px;
}
.medBox{
    width: 100%;
    min-width:145px;
}
.currencyinput {
    border: 1px;
    padding-bottom: 1px;//FOR IE & Chrome
}
.currencyinput input {
    border: 0;
}
#rep{
font-size: 30px;
margin:auto;
width:300px;
}
#interval,#numtime{
width:50px;
}
#interval_type{
width:75px;
}