@charset "utf-8";
#hdr{
    position:absolute;
    top: 0px;
    left: 0px;
    right:0px;
    height:80px;
    width:100%;
    /*background-color:red;   */
    /*vertical-align: middle;*/
    border-bottom: solid;
}
#main{
    position: absolute;
    top: 80px;
    left: 0px;
    right:0px;
    /*height: 500%;*/
    /*background-color: blue;       */
}
#logo{
    height: 75px;
    width: 75px;
    vertical-align: middle;
}
#namelogo{
    height: 75px;
    width: auto;
    vertical-align: middle;
}
#home{
    position: absolute;
    left:2.5px;
    top: 2.5px;
}

#log{
    position:absolute;
    height:auto;
    right:2.5px;
    top: 35%;
    width:auto;
    /*background-color:yellow;    */
    text-align: center;
    font-size: 200%;
}
#err{
    position:relative;
    width: 100%;
    color: red;

}

#login{
    position: absolute;
    right: 5%;
    top: 80px;
    width: 177px;
    background-color: white;
    border: solid;
}
#closel{
    position: absolute;
    right: 0%;
}
#email{
    position: absolute;
    width: 95%;
}
#passw{
    position: absolute;
    width: 95%;
}
#logit{
    position: relative;
    width: 25%;
    left: 37.5%;
}
#passw1{
    position: absolute;
    width: 95%;
}
#passw2{
    position: absolute;
    width: 95%;
}
#changit{
    position: relative;
    width: 30%;
    left: 35%;
}
#toolbit{
   position:absolute;
   left:30%;
   top:28px;
   width:20%;
   font-size:200%;
   text-align:center;
   border:solid;
}
#tools{
   position:absolute;
   left:30%;
   height:auto;
   top:70px;
   width:20%;
   font-size:200%;
   text-align:center;
   background-color:white;
   border:solid;
   z-index:100;
   display:none;
}
.toolopt{
   width:100%;
   border-bottom:solid;
   border-top:solid;
}
#backimg{
   position:absolute;
   width:100%;
   z-index:-100;
}
