@charset "utf-8";
#hdr{
    position:absolute;
    top: 0px;
    left: 0px;
    right:0px;
    height:80px;
    width:100%;
    /*background-color:red;   */
    vertical-align: middle;
    border-bottom: solid;

}
#logo{
    height: 75px;
    width 75px;
    vertical-align: middle;
}
#home{
    position: absolute;
    font-size: xx-large;
    text-align: center;
    left:2.5px;
    top: 2.5px;
}

#log{
    position:relative;
    left:75%;
    height:auto;
    right:2.5px;
    top: 35%;
    width:24.75%;
    /*background-color:yellow;    */
    text-align: center;
    font-size: 200%;
}
#main{
    position: absolute;
    top: 80px;
    left: 0px;
    right:0px;
    height: 500%;
    /*background-color: blue;       */
}
#result{
    width: 60%;
    height: auto;
    margin:auto;
    border: solid;
}
#twoway{
    width: 60%;
    height: auto;
    margin:auto;
    border: solid;
}
#resulthdr{
    position:absolute;
    height: 100px;
    width:60%;
    border: solid;
    text-align: center;
    font-size:75px;
}
#resultlist{
    position: absolute;
    margin-top:100px;
    width:60%;
    border:solid;
    color : red;
    list-style: none;
    padding: 0px;
}

.resultitem{
    position:relative;
    height: 175px;
    width:100%;
    color:black;
    border: solid;
}
.tofrombox{
    position:absolute;
    height: 100%;
    width:45%;
    margin-left:0%;
    border: solid;
    text-align: center;
}
.flights{
    position: absolute;
    height: 100%;
    margin-left:45%;
    width:35%;
    border: solid;
    text-align:center;
}
.bookit{
    position: absolute;
    height: 100%;
    margin-left:80%;
    width:20%;
    margin-right:0px;
    border: solid;
    text-align:center;

}
.from{
    position:absolute;
    width:40%;
    border:solid;
}
.mid{
    position: absolute;
    width:20%;
    margin-left:40%;
    border: solid;
}
.to{
    position:absolute;
    width:40%;
    border:solid;
    margin-left:60%;
}
.tofromh1{
    position:absolute;
    font-size: 150%;
    margin-top:0px;
}
.tofromh2a{
    position:absolute;
    font-size: 110%;
    margin-top:40px;
}
.tofromh2b{
    position:absolute;
    font-size: 110%;
    margin-top:65px;
}
.tofromh3{
    position:absolute;
    font-size: 110%;
    margin-top:90px;
    border:solid;
}
.tofromh4{
    position:absolute;
    width:100%;
    font-size: 110%;
    margin-top:128px;
    border:solid;
}
.numstops{
    position: absolute;
    width:100%;
    margin-top:0px;
    font-size:120%;
    border:solid;
}
.indstops{
    position:absolute;
    margin-top:40px;
    width:100%;
    text-align: center;
    border:solid;

}
.price{
    position: absolute;
    margin-top: 60px;
    width:100%;
    font-size:150%;
}
#order{
    position:relative;
    border:solid;
    width:25%;
    margin-right: 0px;
    margin-left: auto;
    font-size: 50%;
}
#orderby{
    font-size: 100%;
    width:100%;
}
.flighttimes{
    display:none;
    position: absolute;
    background-color: white;
    width:100%;
    margin-left:-3px;
    margin-top:-3px;
    border: solid;
    text-align: center;
    z-index: 2;
}

#restext{
    position:absolute;
    width: 100%;
}
.close{
    position: relative;
    width:25%;
    margin-left:95%;
    text-align: right;
}
.dash{
    color: blue;
}
#lports{
    display: none;
}
