@charset "utf-8";
#hdr{
    position:absolute;
    top: 0px;
    left: 0px;
    right:0px;
    height:80px;
    width:100%;
    /*background-color:red;   */
    vertical-align: middle;
    border-bottom: solid;

}
#logo{
    height: 75px;
    width 75px;
    vertical-align: middle;
}
#home{
    position: absolute;
    font-size: xx-large;
    text-align: center;
    left:2.5px;
    top: 2.5px;
}

#log{
    position:relative;
    left:75%;
    height:auto;
    right:2.5px;
    top: 35%;
    width:24.75%;
    /*background-color:yellow;    */
    text-align: center;
    font-size: 200%;
}
#main{
    position: absolute;
    top: 80px;
    left: 0px;
    right:0px;
    height: 500%;
    /*background-color: blue;       */
}
#qhead{
    text-align: center;
    font-size: 100px;
    height: 75px;
}

.que{
    /*background-color:red;   */
    width: 60%;
    margin:auto;
    border: solid;
}
#quein{
    position: relative;
    margin:auto;
    /*background-color: yellow;      */
    font-size: 50px;
}
#pass{
    font-size:75%;
    width: 75px;
}
#but{
    position:relative;
    font-size:75%;
    display: block;
    margin:auto;
}
#ports{
    white-space: nowrap;
    /*background-color:blue;*/
    margin:auto;

}
#orgport{
    position: relative;
    display: inline-block;
    width: 50%;
    margin:auto;
    /*background-color: yellow;*/
}
#destport{
    position: relative;
    display: inline-block;
    width: 50%;
    margin:auto;
    /*background-color: yellow;*/
}
#org{
    position: relative;
    width: 80%;
    font-size: 75%;
    display: block;
    margin:auto;
}
#dest{
    position: relative;
    width: 80%;
    font-size: 75%;
    display: block;
    margin:auto;
}
#dates{
    white-space: nowrap;

}

#dated{
    position: relative;
    display: inline-block;
    width:50%;
    /*background-color: red;*/
    margin: auto;
}
#passd{
    position: relative;
    width:450px;
    margin: auto;
    /*background-color: blue;*/
}

#date{
    font-size: 75%;
    width:80%;
    display: block;
    margin:auto;
}
#req{
    font-size: 16px;
    text-align: center;
}
.hidden{
    display: none;
}
#lports{
    display: none;
}
