@charset "utf-8";

#main{
    position: absolute;
    top: 80px;
    left: 0px;
    right:0px;
    height: 500%;
    /*background-color: blue;       */
}

#regbutdiv{
    margin-left: 600px;
}

label{
  display: block;
  float: left;
  width : 180px;    
  text-align : right;
  font-size : 24px;
  margin-left: 400px;
}

input {
    
}

/*label{
    display: inline-block;
    float: left;
    clear: left;
    width: 550px;
    text-align: right;
    align-items: center;
}

input {
  display: inline-block;
  float: left;
}

#submit {
    align-self: center;
    display: block;
}*/

.registration{
    width: 80%;
    margin:auto;
    text-align: center;
}
#registrationhead{
    text-align: center;
    font-size: 80px;
    height: 75px;
}