@charset "utf-8";

#main{
    position: absolute;
    top: 80px;
    left: 0px;
    right:0px;
    height: 500%;
    /*background-color: blue;       */
}

#registration{
    width: 80%;
    margin:auto;
    text-align: center;
    border:solid;
}
#registrationhead{
    text-align: center;
    font-size: 100px;
}
#regform{
   border:solid;
   }