@charset "utf-8";

#main{
    position: relative;
    top: 80px;
    left: 0px;
    right:0px;
    height: 500%;
    /*border: solid;*/
    /*background-color: blue;       */
}

#registration{
    width: 60%;
    margin:auto;
    /*text-align: center;*/
    border: solid;
    /*background-color: red;*/
    font-size: 24px;
}

#regbut{
    width: 44%;
    font-size: 24px;
    left: 38%;
    position: absolute;
}

.lab{
  /*display: block;*/
  /*float: left;*/
  /*width : 180px;  */ 
  width: 30%; 
  text-align : right;
  /*font-size : 24px;*/
  /*margin-left: 200px;*/
  /*border: solid;*/
  position: absolute;
}

.inp {
  border: solid;
  font-size: 24px;
  width: 70%;
  left: 31%;
  position: absolute;
}

#registrationhead{
    text-align: center;
    font-size: 80px;
    /*border: solid;*/
    /*background-color: gray;*/
}

.lidiv{
  position: relative;
  /*border: solid;*/
  margin: auto;
  width: 60%;
  height: 38px;
}

#regform{
  position: relative;
  width: 100%;
  border: solid;
  /*background-color: blue;*/
}