@charset "utf-8";


#uphead{
    text-align: center;
    font-size: 100px;
}

#upbox{
    /*background-color:red;   */
    width: 60%;
    margin:auto;
    border: solid;
    background-color: rgba(255,255,255,0.5);
}
#uppform{
    position: relative;
    margin:auto;
    /*background-color: yellow;      */
    font-size: 50px;
}
table{
   border:solid;
   border-collapse:collapse;
   margin:auto;
}
td{
   border:solid;
}
th{
   border:solid;
   border-bottom:double;
   border-bottom-width:3px;
}
#tbl{
   overflow:scroll;
   height:300px;
}
#updateallbuttondiv{
  text-align: center;
  margin: auto;
}