<div class = "passengerBox" id ="pass<%=parseInt(i)+1%>">
	<h3>PASSENGER <%=passengerNumber%></h3>
	<div class="lidiv">
		<label class="lab" id="labfnamein" for="fnamein">First Name</label>
		<input class="inp" id="fnamein" type="text" name="fnamein" form="passengerform"/>
	</div>
	<div class="lidiv" >
		<label class="lab" id="lablnamein" for="lnamein">Last Name</label>
		<input class="inp" id="lnamein" type="text"  name="lnamein" form="passengerform"/>
	</div>
	<div class="lidiv" >
		<label class="lab" id="labdobin" for="dobin">Date Of Birth</label>
		<input class="inp" id="dobin" type="date"  name="dobin" form="passengerform" placeholder="YYYY-MM-DD"/>
	</div>
	<br>
	<div class="lidiv" >
		<label class="lab" id="labphonein" for="phonein">Phone #</label>
		<input class="inp" id="phonein" type="text"  name="phonein" form="passengerform" placeholder="#-###-###-####"/>
	</div>
	<div class="lidiv" >
		<label class="lab" id="labgenderin" for="genderin">Gender</label>
		<select class="inp" id="genderin"  name="gender">
			<option value="M">Male</option>
			<option value="F">Female</option>
			<option value="O">Other</option>
		</select>
	</div>
</div>
