<html><head><link rel="stylesheet" href="/css/homestyle.css" type="text/css">


    <!--include link to javascript here for help email willem-dejong@uiowa.edu-->
    <title>IowaAir</title>
    <link rel="icon" href="/img/Logo1465.png">
    <link rel="stylesheet" href="/css/Flight.css" type="text/css">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/md5.js"></script>
    <script type="text/javascript" src="/js/logsess.js"></script>
    <script type="text/javascript" src="/js/addFlight.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<% include partial/hdr %>
<div id="main">
    <img id="backimg" src="/img/corn.jpg">
    <br>
    <br>
    <div id="upbox">
        <div id="uphead">Add Flight</div>
        <form id="uppform">
            <div id="tbl">
                <table id="wholeTable">
                    <tr>
                       <!-- <th>
                            <div>Flight ID</div>
                        </th>-->
                        <th>
                            <div>Flight #</div>
                        </th>
                        <th>
                            <div>Gate</div>
                        </th>
                        <th>
                            <div>Plane Model</div>
                        </th>
                        <th>
                            <div>Dep. Date</div>
                        </th>
                        <th>
                            <div>Dep. Time</div>
                        </th>
                        <th>
                            <div>Dep. Loc.</div>
                        </th>
                        <th>
                            <div>Ar. Date</div>
                        </th>
                        <th>
                            <div>Ar. Time</div>
                        </th>
                        <th>
                            <div>Ar. Loc.</div>
                        </th>
                        <th>
                            <div>EC Seats Avail</div>
                        </th>
                        <th>
                            <div>EC Seats Bk'd</div>
                        </th>
                        <th>
                            <div>EC $/seat</div>
                        </th>
                        <th>
                            <div>FC Seats Avail</div>
                        </th>
                        <th>
                            <div>FC Seats Bk'd</div>
                        </th>
                        <th>
                            <div>FC $/seat</div>
                        </th>
                    </tr>

                    <tr id="r0">
                        <!--<td>
                            <input class="bigBox flightIDSearch" value=""/>
                        </td>-->
                        <td>
                            <input class="bigBox flightNumSearch"  id="fnumB"/>
                        </td>
                        <td>
                            <input class ="smallBox gateSearch"  id="gateB"/>
                        </td>
                        <td>
                            <select  class="bigBox planeIDSearch"  id="modelB">
                                <option value=""/>
                                <%include partial/planeOptList%>
                            </select>
                        </td>
                        <td>
                            <input class="medBox dDateSearch" type="date"  id="ddateB"/>
                        </td>
                        <td>
                            <input class="dTimeSearch" type="time" id="dtimeB"/>
                        </td>
                        <td>
                            <select class="smallBox dLocSearch" id="dLoc" >
                                <option value=""/>
                                <%include partial/portOptList%>
                            </select>

                        </td>
                        <td>
                            <input class="medBox aDateSearch" type="date" id="adateB"/>
                        </td>
                        <td>
                            <input class="aTimeSearch" type="time" id="atimeB"/>
                        </td>
                        <td>
                            <select class="smallBox aLocSearch" id="aLoc">
                                <option value=""/>
                                <%include partial/portOptList%>
                            </select>
                        </td>
                        <td>
                            <input class ="smallBox ECAvailSearch" type="number" min="0" id="ecsaB"/>
                        </td>
                        <td>
                            <input class ="smallBox ECBookedSearch" type="number" min="0" id="ecsbB"/>
                        </td>
                        <td>
                            <input class ="smallBox ECCostSearch" type="number" min="0" id="eccpsB"/>
                        </td>
                        <td>
                            <input class ="smallBox FCAvailSearch" type="number" min="0" id="fcsaB"/>
                        </td>
                        <td>
                            <input class ="smallBox FCBookedSearch" type="number" min="0" id="fcsbB"/>
                        </td>
                        <td>
                            <input class ="smallBox FCCostSearch" type="number" min="0" id="fccpsB"/>
                        </td>
                        <!--<td>
                            <input id="addButton" type="button" value="Add" onclick="getRow(this)"/>
                        </td>-->
                    </tr>

                </table>
                <div id="rep">
                    <label  for="interval" id="inter">repeat every  </label>
                    <input type="number" min="0" id="interval" name="interval" value="0">
                    <select list="intervals" id="interval_type" value="days">
                        <option id="days" value="days">days</option>
                        <option id="hours" value="hours">hours</option>
                        <option id="minutes" value="minutes">minutes</option>
                        <option id="months" value="months">months</option>
                    </select>
                    <label  for="numtime" id="numt"> for </label>
                    <input type="number" min="0" id="numtime" name="numtime" value="0">
                    <label id="numt2"> more times </label>
                    
                </div>
            <div style="text-align: center;"><button id="updateAllButton" class="updateAllButton" type="button" onclick="addFlight()"/>ADD</button></div>
            <div id="invalidInput" style="display: none ;font-size:50%; color:red"align="center">*Some information is missing or incorrect</div>

            <div class="success" style="display: none ;font-size:50%; color:green"align="center">Flight Added!</div>

            </div>
            <br>
        </form>

    </div></div>

</body></html>